body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: monospace;
}
#leftPanel {
    /* background-color: antiquewhite; */
    width: 20%;
}
#rightPanel {
    /* background-color: rgb(70, 70, 70); */
    width: 15%;
}
#centerPanel {
    /* background-color: aqua; */
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#topPanel {
    /* background-color: blue; */
    position: sticky;
    height: 100px;
    width: 100%;

}
#textEditor {
    /* background-color: brown; */
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    height: 150vh;   
}
#page {
    /* position: relative; */
    width: 100%;
    height: 80vh;
    /* margin: 80px; */
    /* margin-top: 10px; */
    /* margin-left: 60px; */
    border: none;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
    /*overflow: hidden;*/
    outline: none;
    font-size: 20px;
    color: #333333;
    /* background-color: #F5F5F5; */
    /*font-family: 'Inter', sans-serif; Trying another font */
    font-weight: 550;
}
#localDate {
    text-align: left;
    font-size: 20px;
    /* margin-left: 7%;
    margin-top: 80px; */
    font-weight: 600;
    text-decoration: underline;
    color:#434344;
}
#displayofWords  {
    font-size: 20px;
    /* display: inline; */
    position: fixed;
    /*position: fixed; keeps the word count at the bottom */
    bottom: 5%;
    left: 2%;
}
#timer {
    font-size: 20px;
    position: fixed;
    bottom: 15%;
    left: 2%;
}
#progress-container {
    width: 80%;
    background-color: #fffefe;
    border-radius: 10px;
    margin: 50px auto;
    height: 10px;
    overflow: hidden;
}
.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #207adb;
    transition: width 1s linear;
}
#icon {
    font-size: 24px;
}
#rightPanelIcon {
    font-size: 24px;
    bottom: 10%;
    right: 2%;
    position: fixed;
}
#copy-btn {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#copy-btn:hover {
    background-color: #4caf50;
}

#copy-text {
    font-size: 14px;
    color: green;
    /* margin-left: 10px; */
    display: none;
}

